.slide-image {
    text-align: center;
}

.slide-image {
    width: 100%;
}

.toolbar {
    text-align: center;
}

.prev-slide,
.next-slide {
    font-size: 150%;
    margin-left: 15px;
    margin-right: 15px;
}

.prev-slide:hover,
.next-slide:hover {
    cursor: pointer;
}