.slide-images {
    text-align: center;
}

.slide-image {
    width: 100%;
}

.slide-pager {
    text-align: center;
}

.toolbar {
    color: white;
    background-color: black;
}

.prev,
.next {
    color: white;
    font-size: 150%;
    margin-left: 5px;
    margin-right: 5px;
}

.prev:hover,
.prev:focus,
.next:hover,
.next:focus {
    color: white;
}

.prev:disabled,
.next:disabled {
    color: gray;
    text-decoration: none;
    cursor: not-allowed;
}
